@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,800&display=swap');

body, html{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}
h1{
    font-weight: 800;
    font-size: 70px;
}
h2{
    font-weight: 800;
    font-size: 50px;
}
h3{
    font-weight: bold;
    font-size: 30px;
}
h4{
    font-weight: bold;
    font-size: 20px;
}
.woman-banner{
    background-color: #94618E;
    min-height: 100vh;
    padding: 50px 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.wrapper{
    width: 960px;
    margin: 0 20px;
    padding: 0 20px;
}
.woman-banner h4{
    color: #F8EEE7;
    margin: 0;
}
.woman-banner h3{
    color: #F8EEE7;
    margin: 0 0 35px;
}
.woman-banner h1{
    color: #F8EEE7;
    margin: 14px 0 20px;
}
a.cta, button.cta{
    font-size: 30px;
    font-weight: bold;
    color: #F8EEE7;
    background: #F4DECB;
    display: inline-block;
    box-shadow: 0 0 0 10px rgba(0,127,255,.15);
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
}
a.cta.alt, button.cta.alt{
    background-color: #49274A;
    box-shadow: 0 0 0 10px rgba(0,0,0,.15);
}
.picture1{
    background: url("images/pic1.png") no-repeat 0 0;
    background-size: 80%;
    width: 500px;
    height: 500px;
    position: absolute; top: 104px; right: 0;
}

.picture2{
    background: url("images/pic2.png") no-repeat 0 0;
    background-size: 90%;;
    width: 500px;
    height: 500px;
    position: absolute; top: 144px; right: 380px;
}
.picture3{
    background: url("images/pic3.png") no-repeat 0 0;
    background-size: 100%;;
    width: 500px;
    height: 500px;
    position: absolute; top: 160px; right: 170px;
}

nav{
    height: 100px;
    background-color: #F4DECB;
    box-shadow: 0 5px 8px rgba(0,0,0,.2);
    position: sticky;
    top: 0;
}
nav ul{
    padding: 0;
    margin: 0 20px 0 0;
}

nav ul li{
    margin: 0;
    padding: 0;
    display: block;
    float: right;
}
nav ul li a{
    display: block;
    height: 100%;
    box-sizing: border-box;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #94618E;
    text-decoration: none;
    padding: 30px 10px;
    line-height: 30px;
}

.more-info{
    text-align: center;
}
.more-info h2{

}
p{
    font-weight: bold;
    font-size: 30px;
    margin: 30px 0;
}
